<!DOCTYPE html>

<html ng-app="testApp">

    <head>
        <meta charset="utf-8">
        <script src="vendor/angular.min.js"></script>
        <script src="angular-browser-i18n.min.js"></script>
        <script src="popup.js"></script>
    </head>

    <body ng-controller="TestCtrl">

        <p>
            <label>
                Enter Message Name:
                <br/>
                <input type="text" ng-model="message" id="inputMessage" />
                <br/>
                <small>Values: <code>TestMessage01</code>, <code>TestMessage02</code>, <code>TestMessage03</code>, <code>TestMessageHTML</code></small>
            </label>
        </p>

        <p>
            <label>
                Select Substitution(s):
                <br/>
                <select multiple="multiple" ng-model="substitutions" id="selectSubstitutions">
                    <option ng-value="option" ng-repeat="option in ['purple', 'complex test', 'Wyoming', 2001]">{{option}}</option>
                </select>
            </label>
        </p>

        <hr/>

        <h3>Data</h3>
        <h4>Message</h4>
        <pre><code>{{message | json}}</code></pre>
        <h4>Substitution(s)</h4>
        <pre><code>{{substitutions | json}}</code></pre>

        <hr/>

        <h2>Results (Using Scope Variables)</h2>

        <div id="resultAttribute01">
            <h3>Attribute (Tied to Scope Variables)</h3>
            <p>
                <code ng-non-bindable>&lt;p get-message="{{message}}" substitutions="{{substitutions}}"&gt;&lt;/p&gt;</code>
            </p>
            <p get-message="{{message}}" substitutions="{{substitutions}}">Whatever text/HTML is here should be replaced.</p>
        </div>

        <br/>

        <div id="resultElement01">
            <h3>Element (Tied to Scope Variables)</h3>
            <p>
                <code ng-non-bindable>&lt;i18n message="{{message}}" substitutions="{{substitutions}}"&gt;&lt;/i18n&gt;</code>
            </p>
            <i18n message="{{message}}" substitutions="{{substitutions}}">Whatever text/HTML is here should be replaced.</i18n>
        </div>

        <br/>

        <hr/>

        <h2>Results (Using Hard-Coded Values)</h2>

        <div id="resultAttribute02">
            <h3>Attribute (Hard-Coded Values)</h3>
            <p>
                <code ng-non-bindable>&lt;span get-message='TestMessage02' substitutions='["&lt;em&gt;Hard-Coded Value Test&lt;/em&gt;"]'&gt;&lt;/span&gt;</code>
            </p>
            <p>The next sentence should <strong>NOT</strong> change when updating the form fields above: <span get-message='TestMessage02' substitutions='["<em>Hard-Coded Value Test</em>"]'>Whatever text/HTML is here should be replaced.</span></p>
        </div>

        <br/>

        <div id="resultAttribute02">
            <h3>Attribute (Hard-Coded Values)</h3>
            <p>
                <code ng-non-bindable>&lt;i18n message='TestMessage02' substitutions='["&lt;em&gt;Hard-Coded Value Test&lt;/em&gt;"]'&gt;&lt;/i18n&gt;</code>
            </p>
            <p>The next sentence should <strong>NOT</strong> change when updating the form fields above: <i18n message='TestMessage02' substitutions='["<em>Hard-Coded Value Test</em>"]'>Whatever text/HTML is here should be replaced.</i18n></p>
        </div>

        <br/>

        <hr/>

        <br/>

        <div id="resultAttribute03">
            <h3>Attribute (Tied to Scope Function)</h3>
            <p>
                <code ng-non-bindable>&lt;p get-message="TestMessageWindowWidth" substitutions="{{getWindowDimension('Width')}}"&gt;&lt;/p&gt;</code>
            </p>
            <p get-message="TestMessageWindowWidth" substitutions="{{getWindowDimension('Width')}}">Whatever text/HTML is here should be replaced.</p>
        </div>

        <br/>

        <div id="resultElement03">
            <h3>Element (Tied to Scope Function)</h3>
            <p>
                <code ng-non-bindable>&lt;i18n message="TestMessageWindowWidth" substitutions="{{getWindowDimension('Width')}}"&gt;&lt;/i18n&gt;</code>
            </p>
            <i18n message="TestMessageWindowWidth" substitutions="{{getWindowDimension('Width')}}">Whatever text/HTML is here should be replaced.</i18n>
        </div>

    </body>

</html>